node_modules/
esbuild.mjs
.github/
.husky/
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig_test.json
**/.eslintrc.json
**/*.map
**/*.ts
images/**
